In [45]:
def crust():
    print("70km")
    def mantle():
        print("2900km")
        def core():
            print("5300km")
            return mantle()
        return core
    return mantle

In [46]:
drill = crust

In [47]:
drill = drill()

70km

In [48]:
drill = drill()

2900km

In [49]:
drill = drill()

5300km
2900km

In [50]:
drill()

5300km
2900km

In [ ]:
def summation(n, term):
    """Return the sum of numbers 1 through n (including n) wÃ­th term applied to each number.
    Implement using recursion!

    >>> summation(5, lambda x: x * x * x) # 1^3 + 2^3 + 3^3 + 4^3 + 5^3
    225
    >>> summation(9, lambda x: x + 1) # 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10
    54
    >>> summation(5, lambda x: 2**x) # 2^1 + 2^2 + 2^3 + 2^4 + 2^5
    62
    >>> # Do not use while/for loops!
    >>> from construct_check import check
    >>> # ban iteration
    >>> check(HW_SOURCE_FILE, 'summation',
    ...       ['While', 'For'])
    True
    """
    assert n >= 1
    "*** YOUR CODE HERE ***"
    
    if n == 1:
        return term(1)
    
    return summation(n-1, term) + term(n)

In [2]:
summation(5, lambda x: 2**x)

62

In [3]:
summation(9, lambda x: x + 1)

54

In [71]:
def pascal(row, column):
    """Returns the value of the item in Pascal's Triangle 
    whose position is specified by row and column.
    >>> pascal(0, 0)
    1
    >>> pascal(0, 5)	# Empty entry; outside of Pascal's Triangle
    0
    >>> pascal(3, 2)	# Row 3 (1 3 3 1), Column 2
    3
    >>> pascal(4, 2)     # Row 4 (1 4 6 4 1), Column 2
    6
    """
    "*** YOUR CODE HERE ***"
    if row < column:
        return 0
    
    elif row == 0 or column == 0:
        return 1
    else:
        return pascal(row-1, column-1) + pascal(row-1, column)

In [72]:
pascal(3, 2)

3

In [73]:
pascal(4, 2)

6

In [74]:
pascal(0, 5)

0

In [21]:
def paths(m, n):
    """Return the number of paths from one corner of an
    M by N grid to the opposite corner.

    >>> paths(2, 2)
    2
    >>> paths(5, 7)
    210
    >>> paths(117, 1)
    1
    >>> paths(1, 157)
    1
    """
    "*** YOUR CODE HERE ***"
    
    if m == 1 and n == 1:
        return 1
    
    elif m == 0 or n == 0:
        return 0
    
    return paths(m-1, n) + paths(m, n-1)

In [23]:
paths(2, 2)

2

In [24]:
paths(117, 1)

1

In [25]:
paths(5, 7)

210

In [13]:
def couple(s, t):
    """Return a list of two-element lists in which the i-th element is [s[i], t[i]].

    >>> a = [1, 2, 3]
    >>> b = [4, 5, 6]
    >>> couple(a, b)
    [[1, 4], [2, 5], [3, 6]]
    >>> c = ['c', 6]
    >>> d = ['s', '1']
    >>> couple(c, d)
    [['c', 's'], [6, '1']]
    """
    assert len(s) == len(t)
    "*** YOUR CODE HERE ***"
    
    return [[i, j] for i, j in zip(s, t)]

In [14]:
a = [1, 2, 3]
b = [4, 5, 6]
couple(a, b)

[[1, 4], [2, 5], [3, 6]]

In [15]:
c = ['c', 6]
d = ['s', '1']
couple(c, d)

[['c', 's'], [6, '1']]

In [83]:
#  [x, fn(x)]
# lower < fn(x) < upper

def coords(fn, seq, lower, upper):
    """
    >>> seq = [-4, -2, 0, 1, 3]
    >>> fn = lambda x: x**2
    >>> coords(fn, seq, 1, 9)
    [[-2, 4], [1, 1], [3, 9]]
    """
    "*** YOUR CODE HERE ***"
    return [[i, fn(i)] for i in seq if fn(i) >= lower and fn(i) <= upper]

In [84]:
seq = [-4, -2, 0, 1, 3]
fn = lambda x: x**2
coords(fn, seq, 1, 9)

[[-2, 4], [1, 1], [3, 9]]

In [119]:
def riffle(deck):
    """Produces a single, perfect riffle shuffle of DECK, consisting of
    DECK[0], DECK[M], DECK[1], DECK[M+1], ... where M is position of the
    second half of the deck.  Assume that len(DECK) is even.
    >>> riffle([3, 4, 5, 6])
    [3, 5, 4, 6]
    >>> riffle(range(20))
    [0, 10, 1, 11, 2, 12, 3, 13, 4, 14, 5, 15, 6, 16, 7, 17, 8, 18, 9, 19]
    """
    "*** YOUR CODE HERE ***"
    """
    anw = []
    
    for i, j in zip(deck[:int(len(deck)/2)], deck[int(len(deck)/2):]):
        anw.append(i)
        anw.append(j)
    
    return anw"""
    
    return [i for i in deck]

In [120]:
riffle(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [98]:
deck = [3, 4, 5, 6]
deck[:int(len(deck)/2)]

[3, 4]

In [89]:
for i, j in zip(range(0, 10), range(11, 20)):
    print(i, j)

0 11
1 12
2 13
3 14
4 15
5 16
6 17
7 18
8 19