### lambda

In [2]:
def add(x, y):
    return x + y

add(3, 4)

7

In [4]:
(lambda x, y: x + y)(3, 4)

7

In [5]:
map(lambda x: x ** 2, range(5))

In [6]:
list(map(lambda x: x ** 2, range(5)))

[0, 1, 4, 9, 16]

In [11]:
(lambda x: 10 if x == 10 else 999)(9)

999

### high-order function (HOF)

In [12]:
def add(x):
    
    def add_2(y):
        return x + y
    return add_2

In [14]:
add(10)(20)

30

In [15]:
func = add(10)
func(20)

30

In [16]:
def sum(a, b):
    print(a + b)

total = sum( sum(30, 45), sum(10, 15) )

75
25

TypeError: unsupported operand type(s) for +: 'NoneType' and 'NoneType'

In [20]:
1000 // 10

100

In [23]:
1 /=10

SyntaxError: cannot assign to literal (3729576896.py, line 1)

In [25]:
import functools

def html_tag(tag_name, text):
    return "<" + tag_name + ">" + text + "</" + tag_name + ">"

p_tag = functools.partial(html_tag, "p")
p_tag("hello hello")

'<p>hello hello</p>'

In [26]:
def delay(arg):
    print('delayed')
    def g():
        return arg
    return g

delay(6)()

delayed

6

In [27]:
print(delay(print)()(4))

delayed
4
None

In [28]:
def horse(mask):
    horse = mask
    def mask(horse):
        return horse
    return horse(mask)

mask = lambda horse: horse(2)
horse(mask)

2

In [48]:
def cascade(n):
    if n < 10:
        print(n)
    else:
        print(n)
        cascade(n//10)
        print(n)

In [49]:
cascade(123)

123
12
1
12
123

In [50]:
# 1
# 12
# 123
# 12
# 1

In [55]:
def cascade2(n):
    if n < 10:
        print(n)
    else:
        cascade2(n//10)
        print(n)

In [56]:
cascade2(123)

1
12
123

In [57]:
grow(10)

NameError: name 'grow' is not defined

### list

In [58]:
boba_prices = [5.50, 6.50, 7.50]
smoothie_prices = [7.00, 7.50]
all_prices = boba_prices + smoothie_prices

In [59]:
all_prices

[5.5, 6.5, 7.5, 7.0, 7.5]

In [60]:
from operator import add

boba_prices = [5.50, 6.50, 7.50]
smoothie_prices = [7.00, 7.50]
all_prices = add(boba_prices, smoothie_prices)

In [61]:
all_prices

[5.5, 6.5, 7.5, 7.0, 7.5]

In [62]:
boba_prices = [5.50, 6.50, 7.50]

more_boba = boba_prices * 3

In [63]:
more_boba

[5.5, 6.5, 7.5, 5.5, 6.5, 7.5, 5.5, 6.5, 7.5]

In [64]:
[1, 2, 3] + 1

TypeError: can only concatenate list (not "int") to list

In [66]:
gymnasts = [ ["Brittany", 9.15, 9.4, 9.3, 9.2],
             ["Lea", 9, 8.8, 9.1, 9.5],
             ["Maya", 9.2, 8.7, 9.2, 8.8] ]
print("len(gymnasts):", len(gymnasts))
print("len(gymnasts[0]):", len(gymnasts[0]))

len(gymnasts): 3
len(gymnasts[0]): 5

In [69]:
gymnasts = [ ["Brittany", 9.15, 9.4, 9.3, 9.2],
             ["Lea", 9, 8.8, 9.1],
             ["Maya", 9.2]]

In [70]:
gymnasts[0][1]

9.15

In [72]:
digits = [2, 8, 3, 1, 8, 5, 3, 0, 7, 1]

print(1 in digits) # True

print(3 in digits)  # True

print(4 in digits) # False
 
print( not (4 in digits)) # True

True
True
False
True

### for loop

In [74]:
gymnasts = [
                ["Brittany", 9.15, 9.4, 9.3, 9.2],
                ["Lea", 9, 8.8, 9.1, 9.5],
                ["Maya", 9.2, 8.7, 9.2, 8.8]
            ]

for gymnast in gymnasts:
    for data in gymnast:
        print(data, end="|")
    print()

Brittany|9.15|9.4|9.3|9.2|
Lea|9|8.8|9.1|9.5|
Maya|9.2|8.7|9.2|8.8|

In [75]:
pairs = [[1, 2], [2, 2], [3, 2], [4, 4]]
same_count = 0

for x, y in pairs:
    if x == y:
        same_count = same_count + 1
print(same_count)

2

In [76]:
for i, j in zip(range(1, 10), range(9, 0, -1)):
    print(i+j)

10
10
10
10
10
10
10
10
10

### for + list

In [77]:
temps = [60, 65, 71, 67, 77, 89]
hot = [temp for temp in temps if temp > 70]

In [78]:
hot

[71, 77, 89]

In [79]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'm', 'n', 'o', 'p']
word = [letters[i] for i in [3, 4, 6, 8]]

In [81]:
def divisors(n):
    """Returns all the divisors of N.

    >>> divisors(12)
    [1, 2, 3, 4, 6]
    """
    return [x for x in range(1, n) if n % x == 0]
divisors(12)

[1, 2, 3, 4, 6]

In [87]:
def front(s, f):
    """Return S but with elements chosen by F at the front.

    >>> front(range(10), lambda x: x % 2 == 1)  # odds in front
    [1, 3, 5, 7, 9, 0, 2, 4, 6, 8]
    """
    return [i for i in s if f(i)] + [i for i in s if not f(i)]

In [88]:
front(range(10), lambda x: x % 2 == 1)

[1, 3, 5, 7, 9, 0, 2, 4, 6, 8]

### list / pointer

In [91]:
a = list([1, 2, 3])
a

[1, 2, 3]

In [92]:
[a]

[[1, 2, 3]]

In [93]:
list(a)

[1, 2, 3]

In [95]:
def sum_nums(nums):
    """Returns the sum of the numbers in NUMS.
    >>> sum_nums([6, 24, 1984])
    2014
    >>> sum_nums([-32, 0, 32])
    0
    """ 
    if (nums == []):
        return 0
    else:
        return nums[0] + sum_nums( nums[1:] )

In [96]:
sum_nums([-32, 0, 32])

0

In [99]:
# iterative

def sum_up_to(n):
    """Returns the sum of positive numbers from 1 up to N (inclusive).
    >>> sum_up_to(5)
    15
    """ 
    temp = 0
    for i in range(n+1):
        temp += i
        
    return temp

In [100]:
sum_up_to(5)

15

In [101]:
# recursive

def sum_up_to(n):
    """Returns the sum of positive numbers from 1 up to N (inclusive).
    >>> sum_up_to(5)
    15
    """ 
    if n == 0:
        return 0
    return n + sum_up_to(n - 1)

In [102]:
sum_up_to(5)

15

### built in itterable

In [105]:
all([True, True, True])

True

In [106]:
any([True, False, False])

True

In [1]:
sum([1, 2, 3, 4, 5]) # 15

15

In [2]:
coords = [ [37, -144], [-22, -115], [56, -163] ]
max(coords, key=lambda coord: coord[0])  # [56, -163]

[-22, -115]

In [3]:
min(coords, key=lambda coord: coord[0])  #  [-22, -115]

[-22, -115]

In [14]:
gymnasts = [ ["Brittany", 9.15, 9.4, 9.3, 9.2],
    ["Lea", 9, 8.8, 9.1, 9.5],
    ["Maya", 9.2, 8.7, 9.2, 8.8] ]
min(gymnasts, key=lambda scores: min(scores[1:]))

['Maya', 9.2, 8.7, 9.2, 8.8]

In [15]:
max(gymnasts, key=lambda scores: sum(scores[1:], 0))

['Brittany', 9.15, 9.4, 9.3, 9.2]

### Mutable object

In [22]:
s = [2, 3]
t = [5, 6]
# s.extend(4) # ðŸš« Error: 4 is not an iterable!
s.extend(t)
t = 0

In [24]:
s

[2, 3, 5, 6]

In [25]:
s.append([1, 2, 3])

In [26]:
s

[2, 3, 5, 6, [1, 2, 3]]

In [27]:
s = [6, 2, 4, 8, 4]
s.remove(4)

In [28]:
s

[6, 2, 8, 4]

In [29]:
s = [2, 3]
t = [5, 6]
t = s.pop() # list.pop(index)

In [30]:
s

[2]

In [31]:
t

3

In [32]:
L = [1, 2, 3, 4, 5]

L[2] = 6

L[1:3] = [9, 8]

L[2:4] = []            # Deleting elements

L[1:1] = [2, 3, 4, 5]  # Inserting elements

L[len(L):] = [10, 11]  # Appending

L = L + [20, 30]

L[0:0] = range(-3, 0)  # Prepending

In [33]:
L

[-3, -2, -1, 1, 2, 3, 4, 5, 9, 5, 10, 11, 20, 30]

### Name change .vs Object mutation

In [37]:
# Name change: immutation / int, float, string, tuple / cannot change the value
x = 2
print(x + x) # 4

x = 3
print(x + x) # 6

4
6

In [38]:
# Object mutation: mutation / list, dictionary / can change the value
x = ['A', 'B']
print(x + x)  # ['A', 'B', 'A', 'B']

x.append('C')
print(x + x)  # ['A', 'B', 'C', 'A', 'B', 'C']

['A', 'B', 'A', 'B']
['A', 'B', 'C', 'A', 'B', 'C']

### Equality .VS Identity

In [51]:
list1 = [1, 2, 3]
list2 = [1, 2, 3]

print(list1 == list2) # equality: == / True

print(list1 is list2) # identity: is / False

True
False

In [52]:
list3 = list1

print(list1 == list3) # equality: == / False

print(list1 is list3) # identity: is / True

True
True